<h1>Тур компании</h1>

<form action="{% url 'company_search' %}" method="GET">
    <input type="search" name="s" placeholder="Поиск по услугам">
    <button type="submit">Поиск</button>
</form>

{% for i in page_obj %}

    <h2>Название: {{ i.name }}</h2>

    <h3>
        Средний рейтинг:
        {{ i.avg_rating|default:"Нет оценок"|floatformat:1 }}
    </h3>

    <h3>Услуги</h3>

    <p>
        {% for serv in i.services.all %}
            {{ serv.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Услуги отсутствуют
        {% endfor %}
    </p>

    <h2>Отзывы</h2>

    <ul>
        {% for rev in i.reviews.all %}
            <li>
                <p>Оценка - {{ rev.marks }}</p>
                <p>Текст - {{ rev.text }}</p>
                <p>Дата отзыва - {{ rev.created_at }}</p>
            </li>
        {% empty %}
            <p>Отзывов нет</p>
        {% endfor %}
    </ul>

    <hr>

{% endfor %}


<!-- ПАГИНАЦИЯ ВНЕ FOR -->
<div>

    {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    <span>
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    {% endif %}

</div>